<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="images/avatar.svg" type="image/x-icon">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <link rel="stylesheet" href="stylesheets/fontawesome.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand " style="color: #33C393;font-weight: 500;" href="index">Helica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="list">User</a>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!--  -->
  <div class="container-fluid">
    <h1 class="text-center mt-3">List Product</h1>
    <div class="container">
      <table class="table table-striped border">
        <thead>
          <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Avatar</th>
            <th scope="col">Product Color</th>
            <th scope="col">Product Type</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Customer Name</th>
            <th scope="col" colspan="2" class="text-center">Edit</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <% for (const item of data) { %>
            <tr>
              <td>
                <%= item.productId %>
              </td>
              <td>
                <%= item.productName %>
              </td>
              <td>
                <%= item.productPrice %>
              </td>
              <td>
                <img src=" <%= item.avatar %>" alt="" width="80" height="80">
              </td>
              <td>
                <%= item.productColor %>
              </td>
              <td>
                <%= item.productType %>
              </td>
              <td>
                <%= item.customerId %>
              </td>
              <td>
                <%= item.customerName %>
              </td>
              <td>Sửa</td>
              <td>Xoá</td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <div class="d-flex flex-row align-items-center">
        <button type="button" class="btn btn-primary col-sm-3 col-md-2" data-bs-toggle="modal"
          data-bs-target="#exampleModal">
          Add product
        </button>
        <div class="col-sm-4 col-md-7 col-xl-8"></div>
        <nav aria-label="Page navigation example col-sm-5 col-md-2 ">
          <ul class="pagination ">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
      <!-- Button trigger modal -->


    </div>
    <!-- Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog ">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new product</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/submit" method="post">
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mã sản phẩm</label>
                <input type="text" class="form-control" name="productId" placeholder="Sp01">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"> Tên sản phẩm</label>
                <input type="text" class="form-control" name="productName" placeholder="Sản phẩm 1">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Đơn giá</label>
                <input type="text" class="form-control" min="0" name="productPrice" placeholder="120.000">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label ">Hình ảnh: </label>
                <input type="text" class="form-control" min="0" name="avatar" placeholder="https://vitimex.com.vn/hinhanh/sanpham/ao-phao-long-vu-akn0123.jpg">

              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Màu sắc</label>
                <input type="text" class="form-control" name="productColor" id="exampleFormControlInput1"
                  placeholder="Xanh, đỏ, tím, vàng">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Loại sản phẩm</label>
                <input type="text" class="form-control" name="productType" id="exampleFormControlInput1"
                  placeholder="San Pham Hay">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mã khách hàng</label>
                <input type="text" class="form-control" name="customerId" id="exampleFormControlInput1"
                  placeholder="KH01">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Tên khách hàng</label>
                <input type="text" class="form-control" name="customerName" id="exampleFormControlInput1"
                  placeholder="Nguyễn Văn A">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="btn-add-product" class="btn btn-primary">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<script src="/javascript/bootstrap.min.js"></script>
<script src="/javascript/index.js"></script>

</html>