<%- include('../inc/top') %>
    <div class="container-fluid ">
        <div class="col-12 col-sm-12">
            <h1 class="text-center mt-3">List User</h1>
            <div class="table-responsive">
                <table class="table table-striped border text-center ">
                    <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Avatar</th>
                            <th scope="col" colspan="2" class="d-none d-md-table-cell">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data.length==0) {%>
                            <td colspan="5">
                                <h5 class="text-danger fw-bold">List is empty</h5>
                            </td>
                            <%} else{%>
                                <% for (const item of data) { %>
                                    <tr>
                                        <td>
                                            <%= item.email%>
                                        </td>
                                        <td>
                                            <%= item.fullName %>
                                        </td>
                                        <td>
                                            <img src=" <%= item.avatar %>" alt="" width="80" height="80">
                                        </td>
                                        <td class="d-none d-md-table-cell">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#updateProduct_<%=item.id%>">
                                                Update
                                            </button>
                                        <td class="d-none d-md-table-cell">
                                            <%if(item.email!=='ad@min.com'){ %>

                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                    data-bs-target="#deleteModal_<%=item.id%>">
                                                    Delete
                                                </button>
                                                <%}%>

                                        </td>
                                    </tr>
                                    <% } %>
                                        <%}%>
                    </tbody>
                </table>
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProduct">
                Add User
            </button>
            <button type="button" class="btn btn-danger d-md-none" data-bs-toggle="modal" data-bs-target="#openEdit">
                Edit User
            </button>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade " id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form action="/users/addUser" enctype="multipart/form-data" method="post">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Username</label>
                            <input type="text" class="form-control " id="username" name="email"
                                placeholder="example@gmail.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Password</label>
                            <input type="password" class="form-control" min="0" id="password" name="password">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                            <input type="text" class="form-control" name="fullName" id="fullname" placeholder="Red">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label ">Image</label>
                            <br>
                            <input type="file" required name="avatar" id="files">
                        </div>
                        <span id="error" class="text-danger fw-bold"></span>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" id="btn-add-user" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- UPDATE MODAl -->
    <% for (const item of data) { %>
        <div class="modal fade " id="updateProduct_<%=item.id%>" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/users/updateUser" enctype="multipart/form-data" method="post">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" required name="productName"
                                    value="<%=item.email%>" placeholder="example@gmail.com">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Password</label>
                                <input type="password" class="form-control" value="<%=item.password %>" id="password"
                                    name="password" placeholder="100">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                                <input type="text" class="form-control" value="<%=item.fullName %>" name="fullName"
                                    id="fullname" placeholder="Red">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label ">Avatar</label>
                                <br>
                                <input type="file" value="<%=item.avatar%>" name="avatar" id="files">
                                <img src="<%=item.avatar%>" style="width: 150px;height: 250px;" alt="">
                            </div>
                            <span id="error" class="text-danger fw-bold"></span>

                            <div class="modal-footer">
                                <input type="hidden" name="id" value="<%= item._id %>">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" id="btn-update-product" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
            <!-- DELETE MODAL -->
            <% for (const item of data) { %>
                <div class="modal fade " id="deleteModal_<%=item.id%>" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="exampleModalLabel">Are you sure you want to
                                    delete?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/users/deleteUser" method="post">
                                <input type="hidden" name="id" value=" <%= item._id %>">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" id="btn-add-product" class="btn btn-primary">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <%}%>

                    <%- include('../inc/bottom') %>